@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
td {
  text-transform: capitalize;
}
td img {
  max-width: 150px;
  max-height: 150px;
}

#btnGuardar {
  width: 100%;
}

#table-body > tr > td {
  width: 160px;
  white-space: initial;
}
